@import url("/css/czat.css");

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial;
}

body {
  display: flex;
  flex-direction: column;
  background-color: orange;
}

header {
  background-color: green;
  color: white;
  display: flex;
  justify-content: space-between;
}

.title {
  padding: 10px;
  font-size: 40px;
  font-weight: 700;
}

main {
  flex: 1;
  overflow: auto;
  display: flex;
}

.login { 
  padding-top: 5px;
  padding-right: 5px
}

.login > div {
  padding: 10px;
}

footer {
  background-color: gray;
}

nav {
  
}

article {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: none;
}

.tekst {
  padding: 10px;
}

table.form {
    text-align: center;
}

#formularz {
    float: left;
}

#dane {
    float: left;
}

a:hover {
  background-color: White;
}

a:link, a:visited {
    color: Black;
    text-decoration: none;
    cursor: auto;
}

a:link:active, a:visited:active {
    color: Red;
  background-color: White;
}
