table.pogoda, th.pogoda, td.pogoda {
	border: 4px solid blue;
	background-color: white;
    color: white;
    text-align: center;
}

td.pogoda {
    background-color: blue;
    color: white;
}