.czat {
  margin: 10px;
  padding: 10px;
  overflow-y: scroll;
  flex: 1;
  background-color: #000;
  color: #fff;
} 

.time {
  color: #808080;
  font-size: smaller;
}

.user {
  font-weight: bold;
  color: #ffd800;
}

.sendtxt {
  padding: 1px;
  margin: 10px;
  background-color: #000;
  color: #fff;
}

.sendplace {
  width: 450px;
}
